[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
  name = Arka Banerjee
  email = ## main personal email yk


# change the main email when you are done
